<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        
        <main class="container">
            <div class="row aboutme">
                <div class="abt_me col-md-6 col-sm-6">
                    <h2 style="color: #6a0888;">About Me</h2>
                    <h4>Hi! My name is Harsh Ghelani</h4>
                    <br>
                    <p>I am an accomplished web developer and design professional with an established track record. I
                        am now pursuing Software Engineering Technology Post Graduate course and hold a Bachelor's 
                        degree in Computer Engineering. My knowledge base covers C#, Java, JavaScript, NodeJS, PL/SQL,
                        Bootstrap, JDBC, CSS, and HTML. In addition, I am fluent in English, Gujarati and Hindi and have excellent
                        communication abilities.</p>
                    <br>
                    <p>For getting more details about journey into my professional prowess and captivating achievements by
                        unlocking the PDF version of my resume with a simple click <a
                            href="https://docs.google.com/document/d/19qNzR-TFyXRIoSnUoqhzoCsj_2rEPg7V/edit"
                            target="_blank">here</a>.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="my_image">
                        <img src="/img/me.jpg" alt="Harsh Ghelani" />
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>