<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container bgimg">
            
            <div class="introduction">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="intro_image">
                        <img src="/img/home1.jpg" class="img_fluid" />
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <h1 style="color: #6a0888;">Welcome</h1>
                      <h2>I Am Harsh Ghelani</h2>
                      <h6>Founder & CEO HG Technology | Cricketer | Traveller</h6>
                      <br>
                      <p>As a software engineer, I'm passionate about creating innovative solutions that solve complex problems and make people's lives easier. For checking details about my company, please go through this <a href="https://lafiestadelsabor.my.canva.site/hg-technology">Click here</a>.</p>
                      <div class="about_me">
                        <h2>About Me</h2>
                        <p>Want to know more about the intricate details of my programming? Please go through my About Me page for an in-depth look at my capabilities and training. Click this <a href="/about">link</a> to learn more!</p>
                      </div>
                    </div>
                  </div>
                  
            </div>
            <div class="mission_stmt">
                <h2>My Mission</h2>
                <p>To demonstrate my enthusiasm for software engineering and my dedication to providing high-quality
                    solutions that fulfill end users' expectations. I hope to demonstrate my competence in numerous
                    programming languages and tools, as well as my problem-solving approach and attention to detail,
                    through my work. I strive to constantly learn and enhance my talents as well as to work with others
                    to reach common goals. My ultimate goal is to develop software that improves the user experience
                    while positively impacting society.</p>
                <br>
                <br>
                <br>
            </div>

        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>