<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="container projects">
            <div class="row text-center m-2">
                <h2 style="color: #6a0888;">Projects</h2>
                <br>
            </div>
            <div class="row m-3">
                <br>
                <div class="abt_me col-md-6 col-sm-6">
                    <h5>Online Jewellery Selling </h5>
                    <p>I developed a dynamic web application of jwellary site using the wordpress.in this showcase a vast collection
                        of images in an infinite scroll format so that users can effortlessly explore specific themes or
                        subjects, ensuring a visually captivating experience. It is basically an e-commerce platform from there user 
                    can buy jwellery items online and get deliver at therir home.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="project1_image">
                        <img src="/img/project1.png" alt="My first project" />
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <br>
                <div class="col-md-6 col-sm-6">
                    <div class="project1_image">
                        <img src="/img/project2.jpg" alt="My second project" />
                    </div>
                </div>
                <div class="abt_me col-md-6 col-sm-6">
                    <h5>Blood Bank Management System.</h5>
                    <p>The Online Blood Bank Management System is to create an e-Information about the donor and organization that are related to donating the blood. Through this website any person who is interested in donating their blood can register himself in the same way if any organization wants to register itself with this site that can also register. Moreover, if any general user wants to make request of blood they need online and they can also take the help of this site. The website takes care of different modules and their associated reports, which are produced as per the applicable strategies and standards that are put forwarded by the administrative staff.</p>
                </div>
            </div>
            <div class="row m-3">
                <br>
                <div class="abt_me col-md-6 col-sm-6">
                    <h5>Restaurant App</h5>
                    <p>The system is implemented to reduce manual work and enhances the accuracy of work in a restaurant. This system manages and maintains the record of customers and their order online. This development has been made in a user friendly interface. So that customers can add and delete the food items easily.The menu card of different restaurant consists of various food varieties available in the restaurant. Through the place ordering menu, the customer can simply click and order the food. The messaging module tells the supplier to supply the particular food. Also the tracking module tracks the order. The billing system prepares the bill according to the delivered food. This system entirely reduces the unnecessary time.Every order is associated with an individual seat at the table, and orders are built one customer at a time, just like on paper, but with greater accuracy. Items can also easily be shared by the whole table, moved or modified, and noted and the cost can be calculated in real time.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="project1_image">
                        <img src="/img/project3.jpg" alt="My third project" />
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>